body {
  margin: 0;
  padding-top: 10px;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  height: 95vh;
    border-radius: 10px;
}
.box {
  background: #222;
  width: 100%;
  max-width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 11px;
  box-sizing: border-box;
}

/* Display stays at top */
.display {
  background: #333;
  border-radius: 10px;
  padding: 15px;
  min-height: 140px;
  margin-bottom: 12px;
  color: white;
}

/* Button area fills remaining space */
.buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

/* Rows stretch evenly */
.buttons .row {
  flex: 1;
}

/* Buttons stretch vertically */
.btn-time {
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
